[sdk]
workflow_packages=workflows
python_venv=flytekit_venv

[auth]
assumable_iam_role=cluster-role

[platform]
url=flyte-staging.lyft.net

[aws]
s3_shard_formatter=s3://lyft-modelbuilder/{}/
s3_shard_string_length=2

[credentials]
redirect_uri=http://localhost:53593/callback
auth_mode=basic
authorization_metadata_key=flyte-authorization
scope=svc
